@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: LoveYaLikeSister;
    src: url("/fonts/LoveYaLikeASister-Regular.ttf") format("truetype");
}

.bg-image {
    fill: var(--color-text);
}

:root {
    --color-bg: #cad5e2;
    --color-text: #000000;
    --color-obj: #0f172b;
    --color-btn: #d1d5dc;
    --color-shadow: #000000;
}